**/out/
dist
node_modules
/.vscode-test/
*.vsix
yarn-error.log
/.vs/
l10n/bundle.l10n.json
l10n/bundle.l10n.qps-ploc.json
package.nls.qps-ploc.json
.idea/
build
src/test/util/dependencies
.cache
.eslintcache
tsconfig.tsbuildinfo
qt-core/res/qtcli/*
qt-cpp/res/natvis/*
.natvis-copy-timestamp
