.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
**/package-lock.json
.eslintignore
.prettierrc
.prettierignore
.github/**
out/test/**
out/scripts/**
Development.md
esbuild.mjs
.eslintrc.cjs
package-lock.json
extension_packs/**
../**/*
.eslintcache
tsconfig.tsbuildinfo
webview-ui/**
!webview-ui/dist/**
!webview-ui/ThirdPartyNotices.txt
